@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta Mahee',sans-serif;
    background-color: lightgray;
}

.input {
    text-align: center;
}

input[type="text"]{
    text-align: center;
    border-radius: 15px;
    height: 50px;
    width: 300px;
    background-color: white;
    font-family: 'Mukta Mahee',sans-serif;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 10px;
}

input:hover {
    background-color: rgb(250, 250, 250);
}

.display {
    text-align: center;
    border-radius: 15px;
    background-color: white;
}

.header {
    font-family:'Mukta-mahee',sans-serif;
    font-weight: 600;
    text-align: center;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    width: 40em;
    margin-left: 40em;
}

.container {
    height: 20.45rem;
    width: 15rem;
    margin: 0 auto;
    background-color: lightgray;
    text-align: center;
    border-radius: 16px;
    border: 2px solid rgb(14, 43, 1);
}

.button {
    background-color: white;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    display: block;
    margin: 0 auto; 
    margin-bottom: 10px; 
}

.button:hover {
    background-color: orange;
}